html {
    font-family:sans-serif;
}

h1 {
    color: red;
}

p {
    color: orange;
    
}
li {
    color: blue;
}

.pomodoro-estimate {
    color: pink;
    font-weight: bold;
    background-color:green;
    padding:5px 10px 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    margin-top: 10px;
}

#add-new-todo-button {
   font-size: 20px;
   margin-top: 10px;
   display: block;
   outline: none;
   border-style: none;
   background-color: blue;
   color: white;
   padding:7px;

}

#add-new-todo-button:active {
    box-shadow:5px 5px 5px pink;
}